<div class="modal fade" id="delete-modal-id-<%= index_id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete <%= m_name %> <%= name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete <%= name %>?
      </div>
      <div class="modal-footer">
        <%= form_tag path, method: :delete do%>
          <%= submit_tag "Delete", class: "btn btn-remove" %>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
