<%= render partial: "layouts/shared/breadcrumbs", locals: {
  links: [],
  current_path: "Admins"
} %>

<div class="container content-wrapper">
  <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
  <%= render partial: "layouts/shared/alert_messages", locals: { messages: flash[:alert] } %>
  <div class="row text-end mb-3">
    <div class="col col-lg-12">
      <% if can? :create, Admin %>
        <%= link_to "Create Admin", new_admin_path, class: "btn btn-edit btn-blue" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <table id="admin_list" class="table user-data-table hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Reset Password?</th>
            <th>Role</th>
            <th>Temporary Password</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.full_name %></td>
              <td><%= admin.email %></td>
              <td><%= admin.reset_password %></td>
              <td><%= admin.role_name %></td>
              <td><%= admin.temporary_password %></td>
              <td>
                <% if can? :edit, Admin %>
                  <%= form_for admin, as: :admin, url: reset_password_admin_path(admin), method: :put, html: { class: "", multipart: true } do |f| %>
                    <%= submit_tag "Reset Password", class: "btn btn-reset" %>
                  <% end %>
                <% end %>
              </td>
              <td class="actions">

                <% if can? :show, Admin %>
                  <%= link_to "Show", admin_path(admin), class: 'btn btn-view' %>
                <% end %>

                <% if can? :update, Admin %>
                <%= link_to "Edit", edit_admin_path(admin), class: 'btn btn-edit' %>
                <% end %>

                <% if can? :destroy, Admin %>
                <a class="btn btn-remove" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-id-<%= admin.id %>">Delete</a>
                <%= render partial: "layouts/shared/delete_modal", locals: { index_id: "#{admin.id}", m_name: "Admin", name: admin.full_name, path: admin_path(admin) } %>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
