<div class="container-fluid single-page-layout" style="<%= @event.session_background? ? "background-image: url(\'#{@event.session_background.url}\')" : "" %>">
    <div class="row login-wrapper">
        <div class="col col-lg-5" style="background: <%= @event.session_background_color %>;">
            <h2>Login</h2>
            <h5 class="mb-3">Doesn't have an account yet? <%= link_to "Sign up", new_user_registration_path %></h5>
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'text-center'} ) do |f| %>
              <div class="mb-3">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
              </div>

              <div class="mb-3">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign in", class:"btn btn-sign-in", style: "background: #{@event.session_mouse_out};", onmouseover:"this.style.background='#{@event.session_mouse_over}'", onmouseout:"this.style.background='#{@event.session_mouse_out}'" %>
              </div>
            <% end %>

        </div>
        <div class="col col-lg-7 img-wrapper">
            <%= image_tag "login.svg", class: "img-fluid"  %>
        </div>
    </div>
</div>
