<div class="container content-wrapper">
  <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
  <%= render partial: "layouts/shared/alert_messages", locals: { messages: flash[:alert] } %>
  <div class="row">
      <div class="col-12 text-start">
          <h2 class="event_title"><%= @user.full_name %></h2>
      </div>
  </div>
  <div class="row text-start mb-3">
      <div class="col col-lg-4">
          <div class="user_wrapper">
              <span class="mr-3"><strong>Email Address:</strong></span><br>
              <span class="user_detail"><%= @user.email %></span>
          </div>
      </div>
      <div class="col col-lg-4">
        <div class="user_wrapper">
            <span class="mr-3"><strong>Affiliation:</strong></span><br>
            <span class="user_detail"><%= @user.affiliation %></span>
        </div>
      </div>
  </div>
  <div class="row text-start mb-3">
    <div class="col col-lg-4">
        <div class="user_wrapper">
            <span class="mr-3"><strong>Member Type:</strong></span><br>
            <span class="user_detail"><%= @user.member_name %></span>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="user_wrapper">
            <span class="mr-3"><strong>Member Id:</strong></span><br>
            <span class="user_detail"><%= @user.member_id %></span>
        </div>
    </div>
  </div>


    <%= @user.company %>


    <%= @user.affiliation %>


    <%= @user.member_company %>

  
    <%= @user.member_name %>


    <%= @user.abo_type_name %>


    <%= @user.distributor_type_name %>


    <%= @user.member_id %>


    <%= @user.employee_number %>


    <%= @user.id_number %>


    <%= @user.abo_number %>


    <%= @user.aes_number %>


    <%= @user.distributor_number %>


    <%= @user.mailing_address %>


    <%= @user.contact_number %>


    <%= @user.who_invited_you? %>


    <%= @user.upline %>


    <div class="row">
      <div class="col col-lg-12">
        <hr/>
      </div>
    </div>
</div>
