
<section id="home_section_1">
  <%= image_tag @event.main_background.url, class: "img-fluid" %>
</section>
<section id="home_section_2" class="mb-3">
  <div class="container" style="background: <%= @event.main_background_color %>">
    <div class="row text-center py-5">
        <div class="col col-lg-12">
            <h1 style="color: <%= @event.main_mouse_out %>;">Welcome!</h1>
            <p><%= @event.description %></p>
            <%#= render partial: "home/shared/facebook_live" %>
            <br/>
            <% unless @event&.brochure&.file.nil? %>
              <p>Click <%= link_to "here", @event.brochure.url, target: :_blank, style: "color: #{@event.main_mouse_out};", onmouseover:"this.style.color='#{@event.main_mouse_over}'", onmouseout:"this.style.color='#{@event.main_mouse_out}'" %> to download your brochure.</p>
            <% end %>
        </div>
      </div>
  </div>
</section>
