<div class="chat-live-wrapper" style="<%= @event.main_background? ? "background-image: url(\'#{@event.main_background.url}\')" : "" %>">
  <div class="container px-5 py-3">
      <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
              <div class="row">
                <div class="col-12">
                    <div class="video-wrapper">
                      <% if @event.fb_video? %>
                        <%= react_component("_shared/FacebookLive", { url: @event.stream_key })%>
                      <% elsif @event.youtube_video? %>
                        <%= react_component("_shared/YoutubeLive", { url: @event.stream_key })%>
                      <% else %>
                        <%= react_component("_shared/None")%>
                      <% end %>
                    </div>
                </div>
                <div class="col-12">
                  <%= react_component("Reactions", {
                    currentUserId: @current_user.id,
                    eventId: @event.id,
                    like: @reaction.like?,
                    heart: @reaction.heart?,
                    happy: @reaction.happy?,
                    sad: @reaction.sad?,
                    wow: @reaction.wow?,
                    angry: @reaction.angry?,
                    dislike: @reaction.dislike?,
                    clap: @reaction.clap?


                  }) %>
                  <br/>
                  <p style="color: <%= @event.main_background_color %>"><%= @event.description %></p>
                  <br/>
                  <% unless @event&.brochure&.file.nil? %>
                    <p style="color: <%= @event.main_background_color %>">Click <%= link_to "here", @event.brochure.url, target: :_blank, style: "color: #{@event.main_mouse_out};", onmouseover:"this.style.color='#{@event.main_mouse_over}'", onmouseout:"this.style.color='#{@event.main_mouse_out}'" %> to download your brochure.</p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <%= react_component("Chat", { eventId: @event.id })%>
            </div>
      </div>
  </div>
</div>
