<div class="container-fluid raffle-wrapper">
  <div class="row mb-3 text-center">
    <div class="col col-lg-12">
      <div class="name-wrapper">
        <h2><%= @winner.full_name %></h2>
      </div>
      <div class="draw-btn-wrapper">
        <%= link_to "Draw", draw_raffles_event_path(@event), class: "btn btn-draw" %>
        <%= form_for @guest_list, as: :guest_list, url: draw_winner_event_path(@event, guest_list_id: @guest_list.id), method: :put, html: { } do |f| %>
            <%= f.hidden_field :raffle_status, value: 2 %>
            <%= submit_tag "Winner", class: "btn btn-winner" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
