<div class="container content-wrapper">
  <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
  <%= render partial: "layouts/shared/alert_messages", locals: { messages: flash[:alert] } %>
  <div class="row text-end mb-3">
    <div class="col col-lg-12">
      <button type="button" class="btn btn-edit btn-blue" data-bs-toggle="modal" data-bs-target="#createEvent" id="0">
      Create Event
      </button>
      <div class="modal fade" id="createEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createEventLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createEventLabel">Create Event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-12">
                    <%= form_for @event, as: :event, url: events_path(@event), method: :post, html: { class: "create-event_form text-start", multipart: true } do |f| %>
                      <%= render partial: "layouts/shared/error_messages", locals: { messages: @event.errors.full_messages } %>
                      <%= render partial: "events/shared/form", locals: {f: f, id: "0", e: @event} %>
                      <div class="row justify-content-end mr-0">
                        <div class="col text-right">
                          <%= submit_tag "Create Event", class: "btn btn-submit w-100" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <table id="events_list" class="table">
        <thead>
          <tr>
            <th>Event Title</th>
            <th>Event Code</th>
            <th>Type</th>
            <th>Event Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.event_code %></td>
              <td><%= Event::EVENT_TYPES[event.event_type] %></td>
              <td>
                <%= date_formatter(event.start_date) %>
                <% unless (event.start_date.nil? || event.end_date.nil?) %>
                  -
                <% end %>
                <%= date_formatter(event.end_date) %>
              </td>
              <td>
                <%= form_for event, as: :event, url: event_path(event), method: :put, html: { class: "" } do |f| %>
                  <%= f.select :status, Event::STATUSES.invert, {}, { class: 'form-select', onchange: "form.submit()" } %>
                <% end %>
                <%#= Event::STATUSES[event.status] %>
              </td>
              <td class="actions">
                <%= link_to "Show", event_path(event), class: 'btn btn-view' %>
                <button class="btn btn-edit" id="<%= event.id %>" data-bs-toggle="modal" data-bs-target="#editEvent-<%= event.id %>">Edit</button>
                <a class="btn btn-remove" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-id-<%= event.id %>">Delete</a>
                <%= render partial: "layouts/shared/delete_modal", locals: { index_id: "#{event.id}", m_name: "Event", name: event.id, path: event_path(event) } %>
              </td>
            </tr>
            <div class="modal fade" id="editEvent-<%= event.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editSingleEvent" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editSingleEvent">Edit <%= event.title %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col col-lg-12">
                          <%= form_for event, as: :event, url: event_path(event), method: :put, html: { class: "create-event_form text-start", multipart: true } do |f| %>
                            <%= render partial: "layouts/shared/error_messages", locals: { messages: event.errors.full_messages } %>
                            <%= render partial: "events/shared/form", locals: {f: f, id: event.id, e: event} %>
                            <div class="row justify-content-end mr-0">
                              <div class="col text-right">
                                <%= submit_tag "Edit Event", class: "btn btn-blue btn-edit-submit w-100" %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </tbody>
      </table>
      <!-- modal for edit -->
      <!-- make modal's id dynamic -->

    </div>
  </div>
</div>

<%= link_to_previous_page @events, '<< previous ' %>
<%= page_entries_info @events %>
<%= link_to_next_page @events, ' next >>' %>
