<div class="container content-wrapper">
  <div class="row text-end mb-3">
    <div class="col col-lg-12">
      <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#createEvent">
      Create Event
      </button>
      <div class="modal fade" id="createEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createEventLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createEventLabel">Create Event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-12">
                    <form class="create-event_form text-start">
                      <div class="mb-3">
                        <input type="text" class="form-control" id="eventTitle" placeholder="Enter Event Title*" required>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control" rows="4" id="eventDescription" placeholder="Event Desctiption*" required></textarea>
                      </div>
                      <div class="mb-3">
                        <input type="text" class="form-control" id="eventCode" placeholder="Enter Event Code*" required/>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col col-lg-6">
                            <label for="startDate">Start Date<span class="required">*</span></label>
                            <input type="date" class="form-control" id="startDate" required/>
                          </div>
                          <div class="col col-lg-6">
                            <label for="endDate">End Date<span class="required">*</span></label>
                            <input type="date" class="form-control" id="endDate" required/>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col col-lg-6">
                            <label for="startTime">Start Time<span class="required">*</span></label>
                            <input type="time" class="form-control" id="startTime" required/>
                          </div>
                          <div class="col col-lg-6">
                            <label for="endTime">End Time<span class="required">*</span></label>
                            <input type="time" class="form-control" id="endTime" required/>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="w-100" for="eventtype">Event Type<span class="required">*</span></label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="public" value="public" name="eventType"/>
                          <label class="form-check-label" for="public">Public</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="private" value="private" name="eventType"/>
                          <label class="form-check-label" for="private">Private</label>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="streamType">Stream Type<span class="required">*</span></label>
                        <div class="row">
                          <div class="col col-lg-6">
                            <select class="form-select" id="stream_type">
                              <option disabled>Select Stream Type</option>
                              <option value="Video">Video</option>
                              <option value="Live Streaming">Live Streaming</option>
                            </select>
                          </div>
                          <div class="col col-lg-6" id="streamValueType">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-submit w-100">Create Event</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <table id="events_list" class="table">
        <thead>
          <tr>
            <th>Event Title</th>
            <th>Event Code</th>
            <th>Type</th>
            <th>Event Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.event_code %></td>
              <td><%= Event::EVENT_TYPES[event.event_type] %></td>
              <td><%= date_formatter(event.start_date) %> - <%= date_formatter(event.end_date) %></td>
              <td><%= Event::STATUSES[event.status] %></td>
              <td class="actions">
                <%= link_to "Show", event_path(event), class: 'btn btn-view' %>
                <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editEvent-ID">Edit</button>
                <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-remove" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- modal for edit -->
      <!-- make modal's id dynamic -->
      <div class="modal fade" id="editEvent-ID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editSingleEvent" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editSingleEvent">Edit [Event Name]</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-12">
                    <form class="create-event_form text-start">
                      <div class="mb-3">
                        <input type="text" class="form-control" id="eventTitle" placeholder="Event Title*" value="">
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control" rows="4" id="eventDescription" placeholder="Desctiption*" value=""></textarea>
                      </div>
                      <div class="mb-3">
                        <input type="text" class="form-control" id="eventCode" placeholder="Event Code*" value="" />
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col col-lg-6">
                            <label for="startDate">Start Date<span class="required">*</span></label>
                            <input type="date" class="form-control" id="startDate" value=""/>
                          </div>
                          <div class="col col-lg-6">
                            <label for="endDate">End Date<span class="required">*</span></label>
                            <input type="date" class="form-control" id="endDate" value=""/>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col col-lg-6">
                            <label for="startTime">Start Time<span class="required">*</span></label>
                            <input type="time" class="form-control" id="startTime" value=""/>
                          </div>
                          <div class="col col-lg-6">
                            <label for="endTime">End Time<span class="required">*</span></label>
                            <input type="time" class="form-control" id="endTime" value=""/>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="w-100" for="eventtype">Event Type<span class="required">*</span></label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="public" value="public" name="eventType" />
                          <label class="form-check-label" for="public">Public</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="private" value="private" name="eventType"/>
                          <label class="form-check-label" for="private">Private</label>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="streamType">Stream Type<span class="required">*</span></label>
                        <div class="row">
                          <div class="col col-lg-6">
                            <select class="form-select" id="edit_stream_type">
                              <option disabled>Select Stream Type</option>
                              <option value="Video">Video</option>
                              <option value="Live Streaming">Live Streaming</option>
                            </select>
                          </div>
                          <div class="col col-lg-6" id="streamValueType">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-blue btn-edit-submit w-100">Edit Event</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
