<div class="container content-wrapper">
  <div class="row event-wrapper-admin">
    <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
    <%= render partial: "layouts/shared/alert_messages", locals: { messages: flash[:alert] } %>
    <div class="col col-md-3 col-lg-2">
      <%= form_for @event, as: :event, url: upload_brochure_event_path(@event), method: :put, html: { class: "upload_wrapper mb-3", multipart: true } do |f| %>
        <label for="event_brochure" class="event_brochure_btn">
          <i class="fas fa-upload"></i>Upload<br/>Event Cover Here
          <input type="file" id="event_brochure" 	accepts="image/png,image/jpg,image/jpeg,application/pdf" name="event[brochure]" hidden onchange="form.submit()" <%= (can? :update, Event) ? "" : "disabled" %>>
        </label>
      <% end %>
    </div>
    <div class="col col-md-9 col-lg-10 text-start">
      <h2 class="event_title"><%= @event.title %></h2>
      <span class="event_status"><%= @event.status_name %></span>
      <% if can? :manage, Raffle %>
        <%= link_to "Raffle Draw", draw_raffles_event_path(@event), class: "btn btn-edit btn-lg event_raffle", target: :_blank %>
      <% end %>
      <h5 class="event_code"><%= @event.event_code %></h5>

      <p class="event_description">
        <%= @event.description %>
      </p>
    </div>
  </div>
  <div class="row text-start mt-3">
    <div class="col col-lg-12">
      <h5>Schedule</h5>
      <div class="event_date_wrapper">
        <span class="mr-3"><strong>Date: </strong></span>
        <span class="event_date">
          <%= date_formatter(@event.start_date) %>
          <% unless (@event.start_date.nil? || @event.end_date.nil?) %>
            to
          <% end %>
          <%= date_formatter(@event.end_date) %>
        </span>
      </div>
      <div class="event_time_wrapper">
        <span class="mr-3"><strong>Time: </strong></span>
        <span class="event_time">
          <%= time_formatter(@event.start_time) %>
          <% unless (@event.start_time.nil? || @event.end_time.nil?) %>
            to
          <% end %>
          <%= time_formatter(@event.end_time) %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <nav class="mb-4">
        <div class="nav nav-tabs" id="events_views" role="tablist">
          <% if can? :index, GuestList %>
            <a class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">GUEST LIST</a>
          <% end %>
          <% if (can? :index, Raffle) %>
            <a class="nav-link" id="nav-raffles-tab" data-bs-toggle="tab" href="#nav-raffles" role="tab" aria-controls="nav-raffles" aria-selected="true">RAFFLES</a>
          <% end %>
          <% if (can? :update, Event) && current_admin.super_admin? %>
            <a class="nav-link" id="nav-customizations-tab" data-bs-toggle="tab" href="#nav-customizations" role="tab" aria-controls="nav-customizations" aria-selected="true">CUSTOMIZE EVENT</a>
          <% end %>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <% if can? :index, GuestList %>
          <%= render partial: "events/shared/guest_lists_tab" %>
        <% end %>
        <% if can? :index, Raffle %>
          <%= render partial: "events/shared/raffles_tab" %>
        <% end %>
        <% if (can? :update, Event) && current_admin.super_admin? %>
          <%= render partial: "events/shared/customizations_tab" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
