<div class="container content-wrapper">
  <div class="row event-wrapper-admin">
    <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
    <%= render partial: "layouts/shared/alert_messages", locals: { messages: flash[:alert] } %>
    <div class="col col-md-3 col-lg-2">
      <%= form_for @event, as: :event, url: upload_brochure_event_path(@event), method: :put, html: { class: "upload_wrapper mb-3", multipart: true } do |f| %>
        <label for="event_brochure" class="event_brochure_btn">
          <i class="fas fa-upload"></i>Upload<br/>Event Cover Here
          <input type="file" id="event_brochure" 	accepts="image/png,image/jpg,image/jpeg,application/pdf" name="event[brochure]" hidden onchange="form.submit()">
        </label>
      <% end %>
    </div>
    <div class="col col-md-9 col-lg-10 text-start">
      <h2 class="event_title"><%= @event.title %></h2>
      <span class="event_status"><%= Event::STATUSES[@event.status] %></span>
      <%= link_to "Raffle Draw", draw_raffles_event_path(@event), class: "btn btn-draw event_raffle", target: :_blank %>
      <h5 class="event_code"><%= @event.event_code %></h5>

      <p class="event_description">
        <%= @event.description %>
      </p>
    </div>
  </div>
  <div class="row text-start mt-3">
    <div class="col col-lg-12">
      <h5>Schedule</h5>
      <div class="event_date_wrapper">
        <span class="mr-3"><strong>Date: </strong></span>
        <span class="event_date"><%= date_formatter(@event.start_date) %> to <%= date_formatter(@event.end_date) %></span>
      </div>
      <div class="event_time_wrapper">
        <span class="mr-3"><strong>Time: </strong></span>
        <span class="event_time"><%= time_formatter(@event.start_time) %> to <%= time_formatter(@event.end_time) %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <nav class="mb-4">
        <div class="nav nav-tabs" id="events_views" role="tablist">
          <a class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">GUEST LIST</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
          <table id="event_id_guest_list" class="table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Birth Date</th>
                <th>Has Won Raffle<th>
              </tr>
            </thead>
            <tbody>
              <% @guest_lists.each do |guest_list| %>
                <tr>
                  <td><%= guest_list.user.full_name %></td>
                  <td><%= guest_list.user.email %></td>
                  <td><%= guest_list.user.contact_number %></td>
                  <td><%= date_formatter(guest_list.user.birthdate) %></td>
                  <td><%= guest_list.won? %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= link_to_previous_page @guest_lists, '<< ', class: "text-primary" %>
  <%= page_entries_info @guest_lists %>
  <%= link_to_next_page @guest_lists, ' >>', class: "text-primary" %>
</div>
