<div class="tab-pane fade show" id="nav-customizations" role="tabpanel" aria-labelledby="nav-customizations-tab">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
    <div class="col">
      <div class="card shadow-sm">
        <%= image_tag @event.session_background.url, class: "image-card" %>
        <div class="card-body">
          <p class="card-text">This is where you will customize you Session/Registration. This are the default background and mouse colors</p>
          <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
            <label for="backgroundColor">Background Color</label>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">
                <span class="badge" style="background-color: <%= @event.session_background_color %>"><%= @event.session_background_color %></span>
              </label>
              <div class="col-sm-10">
                <%= f.text_field :session_background_color, class: 'form-control', id: "session_mouse_out", placeholder: "#6C63FF" %>
              </div>
            </div>
            <label for="mouseColor">Mouse Color</label>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">
                <span class="badge" style="background-color: <%= @event.session_mouse_out %>"><%= @event.session_mouse_out %></span>
              </label>
              <div class="col-sm-10">
                <%= f.text_field :session_mouse_out, class: 'form-control', id: "session_mouse_out", placeholder: "#6C63FF" %>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">
                <span class="badge" style="background-color: <%= @event.session_mouse_over %>"><%= @event.session_mouse_over %></span>
              </label>
              <div class="col-sm-10">
                <%= f.text_field :session_mouse_over, class: 'form-control', id: "session_mouse_out", placeholder: "#861CCE" %>
              </div>
            </div>
            <label for="backgroundImage">Background Image</label>
            <div class="m-2 row">
              <label class="col-sm-10 col-form-label">
                <%= f.file_field :session_background, accept: 'image/png,image/jpg,image/jpeg', class: '' %>
              </label>
              <div class="col-sm-2">
                <%= submit_tag "Save", class: "btn btn-submit" %>
              </div>
            </div>
          <% end %>
          <!-- <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
