<div class="tab-pane fade show" id="nav-customizations" role="tabpanel" aria-labelledby="nav-customizations-tab">
   <div class="row row-cols-12 mb-5">
      <div class="col">
         <h2>Main Page</h2>
         <div class="row">
            <div class="col">
               <div class="card shadow-sm">
                  <%= image_tag @event.main_background.url, class: "image-card" %>
                  <div class="card-body">
                     <p class="card-text">This is where you will customize your Main Page. These are the default background and mouse colors</p>
                     <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
                     <label for="backgroundColor">Background Color</label>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.main_background_color %>"><%= @event.main_background_color %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :main_background_color, class: 'form-control', id: "main_mouse_out", placeholder: "#6C63FF" %>
                        </div>
                     </div>
                     <label for="mouseColor">Mouse Color</label>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.main_mouse_out %>"><%= @event.main_mouse_out %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :main_mouse_out, class: 'form-control', id: "main_mouse_out", placeholder: "#6C63FF" %>
                        </div>
                     </div>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.main_mouse_over %>"><%= @event.main_mouse_over %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :main_mouse_over, class: 'form-control', id: "main_mouse_out", placeholder: "#861CCE" %>
                        </div>
                     </div>
                     <label for="backgroundImage">Background Image</label>
                     <div class="row">
                        <label class="col-sm-12 col-lg-9 col-form-label">
                        <%= f.file_field :main_background, accept: 'image/png,image/jpg,image/jpeg', class: 'w-100' %>
                        </label>
                        <div class="col-sm-12 col-lg-3 text-end">
                           <%= submit_tag "Save", class: "btn btn-submit" %>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
    <div class="col">
      <hr/>
    </div>
   </div>
   <div class="row row-cols-12 mb-5">
      <div class="col">
         <h2>Registration</h2>
         <div class="row">
            <div class="col">
               <div class="card shadow-sm mb-3">
                  <h3 class="card-text">Registration Fields</h3>
                  <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "table-responsive" } do |f| %>
                  <table class="table hover">
                     <thead>
                        <tr>
                           <th scope="col">Personal Information</th>
                           <th scope="col">Included?</th>
                           <th scope="col">Required?</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>ABO Number</td>
                           <td><%= f.check_box :include_abo_number %></td>
                           <td><%= f.check_box :required_abo_number %></td>
                        </tr>
                        <tr>
                           <td>ABO Type</td>
                           <td><%= f.check_box :include_abo_type %></td>
                           <td><%= f.check_box :required_abo_type %></td>
                        </tr>
                        <tr>
                           <td>AES Number</td>
                           <td><%= f.check_box :include_aes_number %></td>
                           <td><%= f.check_box :required_aes_number %></td>
                        </tr>
                        <tr>
                           <td>Affiliation</td>
                           <td><%= f.check_box :include_affiliation %></td>
                           <td><%= f.check_box :required_affiliation %></td>
                        </tr>
                        <tr>
                           <td>Company</td>
                           <td><%= f.check_box :include_company %></td>
                           <td><%= f.check_box :required_company %></td>
                        </tr>
                        <tr>
                           <td>Contact Number</td>
                           <td><%= f.check_box :include_contact_number %></td>
                           <td><%= f.check_box :required_contact_number %></td>
                        </tr>
                        <tr>
                           <td>Distributor Number</td>
                           <td><%= f.check_box :include_distributor_number %></td>
                           <td><%= f.check_box :required_distributor_number %></td>
                        </tr>
                        <tr>
                           <td>Distributor Type</td>
                           <td><%= f.check_box :include_distributor_type %></td>
                           <td><%= f.check_box :required_distributor_type %></td>
                        </tr>
                        <tr>
                           <td>Employee Number</td>
                           <td><%= f.check_box :include_employee_number %></td>
                           <td><%= f.check_box :required_employee_number %></td>
                        </tr>
                        <tr>
                           <td>Id Number</td>
                           <td><%= f.check_box :include_id_number %></td>
                           <td><%= f.check_box :required_id_number %></td>
                        </tr>
                        <tr>
                           <td>Mailing Address</td>
                           <td><%= f.check_box :include_mailing_address %></td>
                           <td><%= f.check_box :required_mailing_address %></td>
                        </tr>
                        <tr>
                           <td>Member Company</td>
                           <td><%= f.check_box :include_member_company %></td>
                           <td><%= f.check_box :required_member_company %></td>
                        </tr>
                        <tr>
                           <td>Member Id</td>
                           <td><%= f.check_box :include_member_id %></td>
                           <td><%= f.check_box :required_member_id %></td>
                        </tr>
                        <tr>
                           <td>Member Type</td>
                           <td><%= f.check_box :include_member_type %></td>
                           <td><%= f.check_box :required_member_type %></td>
                        </tr>
                        <tr>
                           <td>Upline</td>
                           <td><%= f.check_box :include_upline %></td>
                           <td><%= f.check_box :required_upline %></td>
                        </tr>
                        <tr>
                           <td>Who Invited You?</td>
                           <td><%= f.check_box :include_who_invited_you %></td>
                           <td><%= f.check_box :required_who_invited_you %></td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="col-12 text-end">
                     <%= submit_tag "Save", class: "btn btn-submit" %>
                  </div>
                  <% end %>
               </div>
               <div class="card shadow-sm">
                  <h3 class="card-text">Registration Fields - Drop down</h3>
                  <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "table-responsive" } do |f| %>
                  <table class="table hover">
                     <thead>
                        <tr>
                           <th scope="col">Personal Information</th>
                           <th scope="col">With Guest?</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Member Type</td>
                           <td><%= f.check_box :with_guest_member_type %></td>
                        </tr>
                        <tr>
                           <td>ABO Type</td>
                           <td><%= f.check_box :with_guest_abo_type %></td>
                        </tr>
                        <tr>
                           <td>Distributor Type</td>
                           <td><%= f.check_box :with_guest_distributor_type %></td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="col-12 text-end">
                     <%= submit_tag "Save", class: "btn btn-submit" %>
                  </div>
                  <% end %>
               </div>
            </div>
            <div class="col">
               <div class="card shadow-sm">
                  <%= image_tag @event.session_background.url, class: "image-card" %>
                  <div class="card-body">
                     <p class="card-text">This is where you will customize your Session/Registration. These are the default background and mouse colors</p>
                     <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
                     <label for="backgroundColor">Background Color</label>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.session_background_color %>"><%= @event.session_background_color %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :session_background_color, class: 'form-control', id: "session_mouse_out", placeholder: "#6C63FF" %>
                        </div>
                     </div>
                     <label for="mouseColor">Mouse Color</label>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.session_mouse_out %>"><%= @event.session_mouse_out %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :session_mouse_out, class: 'form-control', id: "session_mouse_out", placeholder: "#6C63FF" %>
                        </div>
                     </div>
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                        <span class="badge" style="background-color: <%= @event.session_mouse_over %>"><%= @event.session_mouse_over %></span>
                        </label>
                        <div class="col-sm-10">
                           <%= f.text_field :session_mouse_over, class: 'form-control', id: "session_mouse_out", placeholder: "#861CCE" %>
                        </div>
                     </div>
                     <label for="backgroundImage">Background Image</label>
                     <div class="row">
                        <label class="col-sm-12 col-lg-9 col-form-label">
                        <%= f.file_field :session_background, accept: 'image/png,image/jpg,image/jpeg', class: 'w-100' %>
                        </label>
                        <div class="col-sm-12 col-lg-3 text-end">
                           <%= submit_tag "Save", class: "btn btn-submit" %>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
    <div class="col">
      <hr/>
    </div>
   </div>
   <div class="row row-cols-12 mb-5">
      <div class="col">
        <h2>Raffle</h2>
        <div class="row">
          <div class="col">
             <div class="card shadow-sm">
                <%= image_tag @event.random_name_background.url, class: "image-card" %>
                <div class="card-body">
                   <p class="card-text">This is where you will customize your Randon Name raffle. These are the default background and mouse colors</p>
                   <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
                   <label for="backgroundColor">Background Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_name_background_color %>"><%= @event.random_name_background_color %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_name_background_color, class: 'form-control', id: "random_name_background_color", placeholder: "#3F48CC" %>
                      </div>
                   </div>
                   <label for="mouseColor">Draw Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_name_draw_mouse_out %>"><%= @event.random_name_draw_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_name_draw_mouse_out, class: 'form-control', id: "random_name_draw_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_name_draw_mouse_over %>"><%= @event.random_name_draw_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_name_draw_mouse_over, class: 'form-control', id: "random_name_draw_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="mouseColor">Winner Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_name_winner_mouse_out %>"><%= @event.random_name_winner_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_name_winner_mouse_out, class: 'form-control', id: "random_name_winner_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_name_winner_mouse_over %>"><%= @event.random_name_winner_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_name_winner_mouse_over, class: 'form-control', id: "random_name_winner_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="backgroundImage">Background Image</label>
                   <div class="row">
                      <label class="col-sm-12 col-lg-9 col-form-label">
                      <%= f.file_field :session_background, accept: 'image/png,image/jpg,image/jpeg', class: 'w-100' %>
                      </label>
                      <div class="col-sm-12 col-lg-3 text-end">
                         <%= submit_tag "Save", class: "btn btn-submit" %>
                      </div>
                   </div>
                   <% end %>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card shadow-sm">
                <%= image_tag @event.random_number_background.url, class: "image-card" %>
                <div class="card-body">
                   <p class="card-text">This is where you will customize your Lotto raffle. These are the default background and mouse colors</p>
                   <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
                   <label for="backgroundColor">Background Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_number_background_color %>"><%= @event.random_number_background_color %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_number_background_color, class: 'form-control', id: "random_number_background_color", placeholder: "#3F48CC" %>
                      </div>
                   </div>
                   <label for="mouseColor">Draw Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_number_draw_mouse_out %>"><%= @event.random_number_draw_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_number_draw_mouse_out, class: 'form-control', id: "random_number_draw_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_number_draw_mouse_over %>"><%= @event.random_number_draw_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_number_draw_mouse_over, class: 'form-control', id: "random_number_draw_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="mouseColor">Winner Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_number_winner_mouse_out %>"><%= @event.random_number_winner_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_number_winner_mouse_out, class: 'form-control', id: "random_number_winner_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.random_number_winner_mouse_over %>"><%= @event.random_number_winner_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :random_number_winner_mouse_over, class: 'form-control', id: "random_number_winner_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="backgroundImage">Background Image</label>
                   <div class="row">
                      <label class="col-sm-12 col-lg-9 col-form-label">
                      <%= f.file_field :session_background, accept: 'image/png,image/jpg,image/jpeg', class: 'w-100' %>
                      </label>
                      <div class="col-sm-12 col-lg-3 text-end">
                         <%= submit_tag "Save", class: "btn btn-submit" %>
                      </div>
                   </div>
                   <% end %>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card shadow-sm">
                <%= image_tag @event.spin_a_wheel_background.url, class: "image-card" %>
                <div class="card-body">
                   <p class="card-text">This is where you will customize your Spin a Wheel raffle. These are the default background and mouse colors</p>
                   <%= form_for @event, as: :event, url: event_path(@event), method: :put, html: { class: "" } do |f| %>
                   <label for="backgroundColor">Background Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.spin_a_wheel_background_color %>"><%= @event.spin_a_wheel_background_color %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :spin_a_wheel_background_color, class: 'form-control', id: "spin_a_wheel_background_color", placeholder: "#3F48CC" %>
                      </div>
                   </div>
                   <label for="mouseColor">Draw Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.spin_a_wheel_draw_mouse_out %>"><%= @event.spin_a_wheel_draw_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :spin_a_wheel_draw_mouse_out, class: 'form-control', id: "spin_a_wheel_draw_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.spin_a_wheel_draw_mouse_over %>"><%= @event.spin_a_wheel_draw_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :spin_a_wheel_draw_mouse_over, class: 'form-control', id: "spin_a_wheel_draw_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="mouseColor">Winner Button Color</label>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.spin_a_wheel_winner_mouse_out %>"><%= @event.spin_a_wheel_winner_mouse_out %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :spin_a_wheel_winner_mouse_out, class: 'form-control', id: "spin_a_wheel_winner_mouse_out", placeholder: "#6C63FF" %>
                      </div>
                   </div>
                   <div class="mb-3 row">
                      <label class="col-sm-3 col-form-label">
                      <span class="badge" style="background-color: <%= @event.spin_a_wheel_winner_mouse_over %>"><%= @event.spin_a_wheel_winner_mouse_over %></span>
                      </label>
                      <div class="col-sm-9">
                         <%= f.text_field :spin_a_wheel_winner_mouse_over, class: 'form-control', id: "spin_a_wheel_winner_mouse_over", placeholder: "#861CCE" %>
                      </div>
                   </div>
                   <label for="backgroundImage">Background Image</label>
                   <div class="row">
                      <label class="col-sm-12 col-lg-9 col-form-label">
                      <%= f.file_field :session_background, accept: 'image/png,image/jpg,image/jpeg', class: 'w-100' %>
                      </label>
                      <div class="col-sm-12 col-lg-3 text-end">
                         <%= submit_tag "Save", class: "btn btn-submit" %>
                      </div>
                   </div>
                   <% end %>
                </div>
             </div>
          </div>
        </div>
      </div>
   </div>
</div>
