<div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
  <table id="event_id_guest_list" class="table guest-data-table hover">
    <thead>
      <tr>
        <th>Status</th>
        <th>Full Name</th>
        <th>Email</th>
        <% if @event.include_company %>
          <th>Company</th>
        <% end %>
        <% if @event.include_affiliation %>
          <th>Affiliation</th>
        <% end %>
        <% if @event.include_member_company %>
          <th>Member Company</th>
        <% end %>
        <% if @event.include_member_type %>
          <th>Member Type</th>
        <% end %>
        <% if @event.include_abo_type %>
          <th>ABO Type</th>
        <% end %>
        <% if @event.include_distributor_type %>
          <th>Distributor Type</th>
        <% end %>
        <% if @event.include_member_id %>
          <th>Member Id</th>
        <% end %>
        <% if @event.include_employee_number %>
          <th>Employee Number</th>
        <% end %>
        <% if @event.include_id_number %>
          <th>Id Number</th>
        <% end %>
        <% if @event.include_abo_number %>
          <th>ABO Number</th>
        <% end %>
        <% if @event.include_aes_number %>
          <th>AES Number</th>
        <% end %>
        <% if @event.include_distributor_number %>
          <th>Distributor Number</th>
        <% end %>
        <% if @event.include_mailing_address %>
          <th>Mailing Address</th>
        <% end %>
        <% if @event.include_contact_number %>
          <th>Contact Number</th>
        <% end %>
        <% if @event.include_who_invited_you %>
          <th>Who invited you?</th>
        <% end %>
        <% if @event.include_upline %>
          <th>Upline</th>
        <% end %>

        <th>
          Raffle status
          <% if can? :update, GuestList %>
            <%= link_to reset_raffle_statuses_event_guest_lists_path(@event), class: "text-xl-start text-primary" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>
            <% end %>
          <% end %>
        </th>
        <th>Approved by:</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @guest_lists.each do |guest_list| %>
        <tr>
          <td><%= guest_list.status_name %></td>
          <td><%= guest_list.user.full_name %></td>
          <td><%= guest_list.user.email %></td>
          <% if @event.include_company %>
            <td><%= guest_list.user.company %></td>
          <% end %>
          <% if @event.include_affiliation %>
            <td><%= guest_list.user.affiliation %></td>
          <% end %>
          <% if @event.include_member_company %>
            <td><%= guest_list.user.member_company %></td>
          <% end %>
          <% if @event.include_member_type %>
            <td><%= guest_list.user.member_name %></td>
          <% end %>
          <% if @event.include_abo_type %>
            <td><%= guest_list.user.abo_type_name %></td>
          <% end %>
          <% if @event.include_distributor_type %>
            <td><%= guest_list.user.distributor_type_name %></td>
          <% end %>
          <% if @event.include_member_id %>
            <td><%= guest_list.user.member_id %></td>
          <% end %>
          <% if @event.include_employee_number %>
            <td><%= guest_list.user.employee_number %></td>
          <% end %>
          <% if @event.include_id_number %>
            <td><%= guest_list.user.id_number %></td>
          <% end %>
          <% if @event.include_abo_number %>
            <td><%= guest_list.user.abo_number %></td>
          <% end %>
          <% if @event.include_aes_number %>
            <td><%= guest_list.user.aes_number %></td>
          <% end %>
          <% if @event.include_distributor_number %>
            <td><%= guest_list.user.distributor_number %></td>
          <% end %>
          <% if @event.include_mailing_address %>
            <td><%= guest_list.user.mailing_address %></td>
          <% end %>
          <% if @event.include_contact_number %>
            <td><%= guest_list.user.contact_number %></td>
          <% end %>
          <% if @event.include_who_invited_you %>
            <td><%= guest_list.user.who_invited_you %></td>
          <% end %>
          <% if @event.include_upline %>
            <td><%= guest_list.user.upline %></td>
          <% end %>
          <td>
            <%= form_for guest_list, as: :guest_list, url: set_raffle_status_event_guest_lists_path(@event, guest_list_id: guest_list.id), method: :post, html: { class: "" } do |f| %>
              <%= f.select :raffle_status, GuestList::RAFFLE_STATUSES.invert, {}, { class: 'form-select', onchange: "form.submit()", disabled: (cannot? :update, GuestList) } %>
            <% end %>
          </td>
          <td><%= guest_list.approver&.full_name %></td>
          <td>
            <%= form_for guest_list, as: :guest_list, url: set_status_event_guest_lists_path(@event, guest_list_id: guest_list.id), method: :post, html: { class: "" } do |f| %>
              <%= f.select :status, GuestList::STATUSES.invert, {}, { class: 'form-select', onchange: "form.submit()", disabled: (cannot? :update, GuestList) } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to "Export CSV", event_path(@event), class: "btn-dowload-csv" %>
    <%#= link_to "Export CSV", download_csv_event_guest_lists_path(@event, format: "csv"), class: "btn-dowload-csv" %>
  </div>
</div>
