<div class="tab-pane fade show" id="nav-questionnaires" role="tabpanel" aria-labelledby="nav-questionnaires-tab">
  <% if (can? :create, Questionnaire) %>
    <%= link_to "Add Question", new_event_questionnaire_path(event_id: @event.id), class: 'btn btn-blue mt-2' %>
  <% end %>
  <table id="event_id_guest_list" class="table questionnaire-data-table">
    <thead>
      <tr>
        <th>Questionnaire Type</th>
        <th>Question</th>
        <th>Choices</th>
        <th>Correct Answer/s</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @questionnaires.each do |questionnaire| %>
        <tr>
          <td><%= questionnaire.questionnaire_type_name %></td>
          <td><%= questionnaire.question %></td>
          <td><%= questionnaire.choices %></td>
          <td><%= questionnaire.correct_answer %></td>
          <td><%= questionnaire.status_name %></td>
          <td class="text-center">
            <% if can? :update, Questionnaire %>
              <%= link_to "Edit", edit_event_questionnaire_path(event_id: @event.id, id: questionnaire.id), class: 'btn btn-view' %>
            <% end %>
          </td>
          <td class="text-center">
            <% if (can? :destroy, Questionnaire) %>
              <a class="btn btn-remove" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-id-<%= questionnaire.id %>">Delete</a>
              <%= render partial: "layouts/shared/delete_modal", locals: { index_id: "#{questionnaire.id}", m_name: "Questionnaire", name: questionnaire.questionnaire_type_name, path: event_questionnaire_path(event_id: @event.id, id: questionnaire.id) } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
