<div class="row justify-content-center">
  <div class="col-8">
    <div class="mb-3">
      <div class="row">
        <div class="col col-lg-6">
          <label for="adminName">Name<span class="required">*</span></label>
          <%= f.text_field :full_name, class: 'form-control', id: "full_name" %>
        </div>
        <div class="col col-lg-6">
          <label for="adminEmail">Email Address<span class="required">*</span></label>
          <%= f.email_field :email, class: 'form-control', id: "email" %>
        </div>
      </div>
    </div>
    <% if with_password %>
    <div class="mb-3">
      <div class="row">
        <div class="col col-lg-6">
          <label for="adminPassword">Password<span class="required">*</span></label>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>
        <div class="col col-lg-6">
          <label for="adminConfirmPassword">Confirm Password<span class="required">*</span></label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="mb-3">
      <div class="row">
        <div class="col col-lg-12">
          <label for="adminMemberType">Company</label>
          <%= f.text_field :company, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col col-lg-6">
          <label for="adminMemberID">Position</label>
          <%= f.text_field :position, class: "form-control" %>
        </div>
        <div class="col col-lg-6">
          <label for="affiliation">Contact Number</label>
          <%= f.text_field :contact_number, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 text-start">
    <h4>Role</h4>
  </div>
  <hr/>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="mb-5">
      <div class="row">
        <div class="col-6">
          <%= f.select :role, Admin::ROLE_TYPES.invert, {}, { class: 'form-select' } %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table admin-table">
            <thead>
              <tr>
                <th scope="col">Access Rights</th>
                <th scope="col">View Only</th>
                <th scope="col">Full Access</th>
                <th scope="col">No Access</th>
              </tr>
            </thead>
            <tbody>
              <% @admin.access_rights.each_with_index do |ar, index| %>
                <%= f.fields_for :access_rights, ar do |ff| %>
                  <tr>
                    <td>
                      <%= ar.access_right_name %>
                      <%= ff.hidden_field :name, value: ar.name %>
                    </td>

                    <td><%= ff.radio_button :privilege, AccessRight::VIEW_ONLY, class: "form-check-input" %></td>
                    <td><%= ff.radio_button :privilege, AccessRight::FULL_ACCESS, class: "form-check-input" %></td>
                    <td><%= ff.radio_button :privilege, AccessRight::NO_ACCESS, class: "form-check-input" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
