<div class="mb-3">
  <label for="adminName">Full Name<span class="required">*</span></label>
  <%= f.text_field :full_name, class: 'form-control', id: "full_name" %>
</div>
<div class="mb-3">
  <div class="row">
    <div class="col col-lg-6">
      <label for="adminEmail">Email<span class="required">*</span></label>
      <%= f.email_field :email, class: 'form-control', id: "email" %>
    </div>
    <div class="col col-lg-6">
      <label for="adminPassword">Role<span class="required">*</span></label>
      <%= f.select :role, Admin::ROLE_TYPES.invert, {}, { class: 'form-select' } %>
    </div>
  </div>
</div>
<% if with_password %>
  <div class="mb-3">
    <div class="row">
      <div class="col col-lg-6">
        <label for="adminPassword">Password<span class="required">*</span></label>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>
      <div class="col col-lg-6">
        <label for="adminPassword">Password Confirmation<span class="required">*</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
    </div>
  </div>
<% end %>
<div class="mb-3">
  <div class="row">
    <div class="col col-lg-6">
      <label for="affiliation">Contact Number<span class="required">*</span></label>
      <%= f.text_field :contact_number, class: "form-control" %>
    </div>
    <div class="col col-lg-6">
      <label for="adminAffiliation">Affiliation<span class="required">*</span></label>
      <%= f.text_field :affiliation, class: "form-control" %>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row">
    <div class="col col-lg-6">
      <label for="member_type">Member Type<span class="required">*</span></label>
      <%= f.select :member_type, Admin::MEMBER_TYPES.invert, {}, { class: 'form-select' } %>
    </div>
    <div class="col col-lg-6">
      <label for="adminMemberType">Member Id</label>
      <%= f.text_field :member_id, class: "form-control" %>
    </div>
  </div>
</div>
