<div class="chat-live-wrapper thankyou main-bg">
  <div class="container px-5 py-3">
      <div class="row">
            <div class="col-12">
              <%= form_for(resource, as: resource_name, url: user_registration_patch_path(event_code: @event.event_code), html: { method: :put, class: "row profile-form-wrapper text-start" }) do |f| %>
                <%= render partial: "layouts/shared/success_messages", locals: { messages: flash[:notice] } %>
                <%= render "users/shared/error_messages", resource: resource %>

                <div class="row px-0">
                  <div class="col">
                    <h4 class="text-start">Change password</h4>
                    <hr/>
                  </div>
                </div>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                </div>

                <div class="field mb-3">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                </div>

                <div class="actions text-center">
                  <%= f.submit "Change Password", class: "btn btn-blue px-5" %>
                </div>
              <% end %>
            </div>
      </div>
  </div>
</div>
